<div class="page-header">
  <%= link_to "Edit", "/deals/#{@deal.id}/edit", :class => "btn btn-md btn-success pull-right" %>
  <h3>Deal Details</h3>
</div>

<div class="row">
  <div class="col-md-3">
    <img class="col-md-12" src="<%= @deal.image_url %>">
    <div class="main">
    <%= link_to "Go to Deal", "#{@deal.link}", :class => "btn btn-md btn-info"%>
    </div>
  </div>
  <div class="col-md-8">
    <h3><%= @deal.name %></h3>
    <p>Original Price: <%= number_to_currency(@deal.original_price) %></p>
    <p class="lead">Deal Price:<%= number_to_currency(@deal.deal_price) %></p>
  <br>
    <h4>Fine print:</h4>
    <p><%= @deal.description %></p>
  </div>
</div>

<br>

<div class="page-header">
<h3>Customer Reviews</h3>
</div>

<div class="row">
  <div class="col-md-6">
    <% if @reviews.any? %>
      <% @reviews.each do |review| %>
        <div class="row review">
          <div class="col-md-12">
            <p class="lead">
              <% review.rating.times do %>
                &starf;
              <% end %>
                <p><%= review.title %></p>
                <p><%= review.comment %></p>
                <p>by <%= User.find_by(:id => review.user_id).first_name %></p>
          </div>
        </div>

      <% end %>
    <% else %>
      <h3>Be the first to review this item!</h3>
    <% end %>

  </div>

  <% if session[:user_id].present? %>
    <div class="col-md-6">
      <p class="lead"><strong>Write Your Own Review.</strong></p>

      <form action="/reviews/create" class="well">
        <input name="deal_id" value=<%= @deal.id %> type="hidden">
        <% user = User.find_by(:id => session[:user_id]) %>
        <input name="user_id" value=<%= user.id %> type="hidden">

        <div class="form-group">
          <input name="title" type="text" class="form-control input-md" placeholder="Enter a title here...">
        </div>
        <div class="form-group">
          <select name="rating">
            <option value="1">1 Star</option>
            <option value="2">2 Stars</option>
            <option value="3">3 Stars</option>
            <option value="4">4 Stars</option>
            <option value="5">5 Stars</option>
          </select>
        </div>

        <div class="form-group">
          <textarea name="comment" class="form-control input-md" rows="5" placeholder="Your review goes here." ></textarea>
        </div>
        <input type="submit" class="btn btn-md btn-success" value="Submit My Review">
      </form>
    </div>
  <% else %>
    <div class="col-md-4">
      <a href="/sessions/new" class="btn btn-primary btn-lg pull-right">Sign In To Write a Review.</a>
    </div>
  <% end %>
</div>
